.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentContainer {
  flex: 1;
  margin-top: 115px;
  width: 60%;
  align-self: center;
  padding: 10px;
  margin-bottom: 25px;
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .contentContainer {
    width: 85%;
    text-align: left;
  }
}
